<div class="jumbotron text-center">
  <p>FIT2095 Week 11 Poll Application</p>
</div>
<script src="node_modules/chart.js/src/chart.js"></script>
<div>
    <div class="container" id="pollContainer">
      <h3>{{pollObj.question}}</h3>
      <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [colors]= "barChartColors"
            [chartType]="barChartType">
      </canvas>
      <table class="table table-striped"  >
        <tr>
          <th>Click the button to Vote</th>
        </tr>
        <tr *ngFor="let item of pollObj.options"> 
          <td>{{item.text}}
          <!-- <td>{{item.count}}</td> -->
            <button type="submit" class="btn btn-primary" (click)="onSelectVote(item.value)">Vote</button> 
          </td> 
        </tr>
      </table>
    </div>
</div>
